<section class="right">
    <h2 class="h2" style="font-size: 16px;">Important Items</h2>
    <div class="cont">
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">LATRA NUMBER</h3>
            <a href="tel:0800110019/0800110020" class="phn" itemprop="telephone">
                📞 0800110019/0800110020
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">LATRA E-MAIL</h3>
            <a href="mailto:info@latra.go.tz" class="phn" itemprop="email">
                ✉️ info@latra.go.tz
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">LATRA WEBSITE 🔗</h3>
            <a href="/latra" target="_blank" class="latra" itemprop="url">
                LATRA SITE
            </a>
        </div>
        <div class="num kitu" itemscope itemtype="https://schema.org/Organization">
            <h3 itemprop="brand">LATRA ADDRESS</h3>
            <ul class="phn" itemprop="address">
                <li>S.L.P 1742</li>
                <li>41104</li>
                <li>Tambukareli DODOMA</li>
            </ul>
        </div>
    </div>
</section>